/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {


  /* Topbar */
  .top-bar-area .item-flex {
    justify-content: center;
  }

  .top-bar-area .info {
    text-align: center;
    margin-bottom: 10px;
  }

  .top-bar-area .text-right .info {
    margin-bottom: 0;
  }

  .top-bar-area .button a {
    margin-bottom: 10px;
  }


  /* Banner */

  body, .banner-area, .banner-area div {
    height: auto;
  }

  .banner-area .double-items, 
  .banner-area .content {
    padding: 120px 0;
  }

  .banner-area .appoinment {
    margin-top: 50px;
  }

  .banner-area.inc-shape .content::after {
    top: 100px;
  }

  .banner-area.auto-height.fixed-thumb .double-items .info {
    padding: 0;
  }

  .banner-area.auto-height.fixed-thumb .double-items .thumb {
    display: none;
  }


  /* Top Entry Area */
  .top-entry-area .single-item {
    margin-bottom: 50px;
  }

  .top-entry-area .single-item:last-child {
    margin-bottom: 0;
  }


  /* About */
  .about-area .thumb-box {
    padding-right: 0;
  }

  .about-area .info {
    padding-left: 15px;
    margin-top: 50px;
  }

  .about-area.reverse .info {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* Consultation */
  .consultation-area .process {
    padding-right: 15px;
  }

  .consultation-area .form .appoinment-box {
    margin-top: 80px;
    margin-left: 30px;
  }

  .consultation-area .form .appoinment-box {
    width: 96%;
  }


  /* Departments */

  .departments-area .departments-tabs .nav-tabs {
    margin: 0 -15px;
  }

  .departments-area .departments-tabs li.nav-item {
    margin: 0;
    margin-bottom: 15px;
    float: left;
    width: 33.3333%;
    padding: 0 15px;
  }

  .departments-area .center-tabs .thumb {
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* Department Single */
  .department-single-area .sidebar {
    margin-top: 50px;
  }

  /* Choose Us */

  .choose-us-area {
    max-width: 720px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    padding-bottom: 120px;
  }

  .choose-us-area .thumb {
    min-height: 300px;
    margin: 0 15px;
  }

  .choose-us-area .info {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 15px;
  }

  .choose-us-area .info .info-box {
    position: inherit;
    padding: 50px 30px;
    left: 0;
  }

  .choose-us-area .info .info-box::after {
    display: none;
  }

  /* Doctors Area */
  .doctors-area .nav-tabs {
    margin: -7px;
    margin-bottom: 40px;
  }

  .doctors-area .nav-tabs li {
    float: left;
    width: 50%;
    padding: 7px;
  }

  .doctors-area .doctor-items .info::after {
    position: absolute;
    left: 50%;
    top: -15px;
    content: "";
    border-top: transparent;
    border-bottom: 15px solid #ffffff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin-left: -15px;
  }

  /* Testimonials */

  .testimonials-area {
    position: relative;
    z-index: 1;
  }

  .testimonials-area::after {
    position: absolute;
    right: 0;
    top: -200%;
    height: 500%;
    width: 500%;
    background: #1fade4;
    z-index: -1;
    content: "";
  }

  .testimonials-area .heading::before {
    left: 50%;
    top: 0;
    margin-left: -60px;
  }

  .testimonials-area .testimonials-carousel {
    padding-left: 0;
    margin-top: 30px;
  }

  .testimonials-area {
    text-align: center;
  }

  /* Contact */
  .contact-us-area .contact-items .address-box {
    min-height: 400px;
  }

  .contact-us-area .contact-items .address-box .address-info {
    bottom: -30px;
    box-shadow: 0 0 10px #e7e7e7;
  }

  .contact-us-area .contact-items > .row {
    margin-left: 0;
    margin-right: 0;
  }

  .contact-us-area .contact-form-box {
    padding: 0;
    margin-top: 60px;
  }


  /* Features */
  .features-area.half-bg::after {
    height: 40%;
  }


  /* Fun Factor */
  .fun-factor-area .item {
    margin-top: 50px;
  }

  .fun-factor-area .item:first-child,
  .fun-factor-area .item:nth-child(2) {
    margin-top: 0;
  }

  /* Health Tips */
  .health-tips-area .thumb-box {
    margin: 0;
    margin-top: 50px;
  }

  .health-tips-area .heading {
    text-align: center;
  }

  .health-tips-area .thumb-box::after {
    position: absolute;
    top: auto;
    left: 50%;
    content: "";
    border-top: transparent;
    border-bottom: 15px solid #ffffff;
    border-right: 15px solid transparent;
    margin-top: -7px;
    bottom: 0;
    right: auto;
    border-left: 15px solid transparent;
    margin-left: -15px;
  }

  .health-tips-area .info {
    margin-top: 50px;
  }


  /* Features Entry */

  .feature-entry-area.cols-3 .item ul {
    display: inline-block;
  }

  .feature-entry-area.cols-3 .item ul li span {
    margin-right: 50px;
  }

  /* Portfolio */
  .gallery-area .gallery-items.colums-2 .pf-item,
  .gallery-area .gallery-items.colums-3 .pf-item,
  .gallery-area .gallery-items.colums-4 .pf-item {
    width: 50%;
  }

  /* Blog */
  .blog-area.left-sidebar .blog-content {
    float: none;
  }

  .blog-area .blog-thin-colums .thumb {
    margin-bottom: 30px;
  }

  .blog-area.left-sidebar .sidebar,
  .blog-area.right-sidebar .sidebar {
    margin-top: 50px;
  }

  .blog-area .blog-items .blog-thin-colums .item {
    padding: 0;
    border: none;
  }

  .blog-area.right-sidebar .sidebar {
    padding-left: 15px;
  }

  .blog-area.left-sidebar .sidebar {
    padding-right: 15px;
  }

  .blog-area .item .thumb img {
    width: 100%;
  }

  /* Footer */

  footer .footer-bottom {
    text-align: center;
  }

  .footer-bottom .text-right {
    text-align: center !important;
    margin-top: 15px;
  }
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

  /* Heading */
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 1.4;
  }

  h5 {
    font-size: 16px;
    line-height: 1.4;
  }

  h6 {
    font-size: 14px;
    line-height: 1.4;
  }

  .container-medium {
    width: 100%;
  }

  .default-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .padding-xl {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .default-padding.bottom-less {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .default-padding-bottom {
    padding-bottom: 50px;
  }

  .default-padding-top {
    padding-top: 50px;
  }

  .default-padding.bottom-30 {
    padding-bottom: 0;
    padding-top: 50px;
  }

  .default-padding.bottom-20 {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .padding-less-mobile {
    padding-top: 0;
  }

  .default-padding-mx {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .site-heading {
    margin-bottom: 40px;
  }

  .site-heading.single {
    margin-bottom: 20px;
  }

  .breadcrumb-area h1 {
    font-size: 36px;
  }

  .page-title-area {
    padding: 100px 0;
  }

  .page-title-area h1 {
    font-size: 36px;
  }

  .owl-carousel.owl-theme .owl-nav {
    display: none;
  }

  .breadcrumb-area {
    padding: 80px 0;
    position: relative;
  }

  .breadcrumb-area .breadcrumb {
    background: transparent;
    padding: 0;
    position: inherit;
    left: 0;
    bottom: 0;
    transform: inherit;
    box-shadow: inherit;
    margin-top: 20px;
  }

  .breadcrumb-area .breadcrumb a, 
  .breadcrumb-area .breadcrumb li {
    color: #ffffff;
  }

  .breadcrumb-area .breadcrumb li.active {
    color: #cccccc;
  }


  /* Topbar */
  .top-bar-area {
    display: none;
  }

  nav.navbar .quote-btn {
    display: none;
  }

  nav .attr-nav > ul > li.contact {
    display: none;
  }

  .side {
    padding: 50px 50px 50px 35px;
    width: 320px;
  }

  /* Banner Area */

  .banner-area {
    text-align: center;
  }

  .banner-area h2 {
    font-size: 36px;
  }

  .banner-area h3 {
    line-height: 1.4;
  }

  .banner-area p {
    padding: 0;
  }

  body, .banner-area, .banner-area div {
    height: auto;
  }

  .banner-area .content,
  .banner-area .double-items {
    overflow: hidden;
    padding: 50px 0;
  }

  .banner-area .appoinment {
    margin-top: 30px;
  }

  .banner-area ul li {
    display: block;
    padding: 0;
  }

  .banner-area .appoinment-box {
    padding: 50px 30px;
  }

  .banner-area.text-default h2 {
    font-size: 36px;
  }

  .banner-area.inc-shape .content::after {
    top: 80px;
  }

  .banner-area.auto-height.fixed-thumb .double-items .info {
    padding: 0;
  }

  .banner-area.auto-height.fixed-thumb .thumb img {
    max-width: 100%;
  }

  .banner-area.top-pad-responsive .content {
    padding-top: 120px;
  }

  .banner-area .shape {
    display: none;
  }


  /* Top Entry */
  .top-entry-area .single-item .item {
    padding: 0 !important;
  }

  .top-entry-area .single-item:nth-child(2) {
    display: none;
  }

  .top-entry-area.cols-3 .single-item:nth-child(2) {
    display: inline-block;
  }

  .top-entry-area .single-item {
    margin-bottom: 50px;
  }

  .top-entry-area .single-item:last-child {
    margin-bottom: 0;
  }

  /* About */
  .about-area .thumb-box {
    position: relative;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .about-area .thumb-box img {
    clip-path: inherit;
  }

  .about-area .thumb-box .intro-video {
    position: relative;
    right: 0;
    bottom: 0;
    display: block;
    left: 0;
    text-align: center;
    margin-top: 30px;
  }

  .about-area .info {
    padding-left: 15px;
    text-align: center;
  }

  .about-area .thumb-box .intro-video .video {
    padding-right: 0;
    text-align: center;
  }

  .about-area .video-play-button.relative {
    left: 0;
    text-align: center;
    top: 0;
    margin-bottom: 35px;
    transform: inherit;
  }

  .about-area ul li {
    justify-content: center;
  }

  .about-area.reverse .info {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about-area .emergency {
    margin-top: 30px;
  }

  .about-area .shape-right-bottom.shape {
    display: none;
  }


  /* Department */
  .department-area .shape-bottom {
    display: none;
  }

  .departments-area .departments-tabs li.nav-item {
    display: block;
    margin: 0;
    margin-bottom: 15px;
  }

  .departments-area .center-tabs .thumb {
    padding-right: 15px;
  }

  .departments-area .departments-tabs .nav-tabs {
    margin-bottom: 30px;
  }

  .departments-area .center-tabs .thumb {
    margin-bottom: 30px;
  }

  /* Department Single */
  .department-single-area .info .thumb .title {
    position: inherit;
    padding: 0;
    margin-top: 20px;
  }

  .department-single-area .info .thumb::after {
    display: none;
  }

  .department-single-area .info .thumb .title h3,
  .department-single-area .info .thumb .title span {
    color: #232323;
  }

  .department-single-area .info .thumb {
    margin-bottom: 15px;
  }

  .department-single-area .sidebar {
    margin-top: 50px;
  }

  .department-single-area .info ul li {
    width: 100%;
  }

  .department-single-area .sidebar .widget.opening-hours li .float-right {
    float: none !important;
  }


  /* Consultation Process */
  .consultation-area .process {
    padding-right: 15px;
    text-align: center;
  }

  .consultation-area .form {
    margin-top: 30px;
  }

  .consultation-area .form .appoinment-box::after {
    display: none;
  }

  .consultation-area .form .appoinment-box {
    padding: 50px 30px;
  }


  /* Choose Us */

  .choose-us-area {
    max-width: 540px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    padding-bottom: 50px;
  }

  .choose-us-area .thumb {
    min-height: 300px;
    margin: 0 15px;
  }

  .choose-us-area .info {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 15px;
  }

  .choose-us-area .info .info-box {
    position: inherit;
    padding: 50px 30px;
    left: 0;
  }

  .choose-us-area .info .info-box::after {
    display: none;
  }

  .choose-us-area ul li {
    width: 100%;
    padding-right: 0;
  }


  /* Fun Factor */
  .fun-factor-area .item {
    margin-top: 50px;
  }

  .fun-factor-area .item:first-child {
    margin-top: 0;
  }

  /* Doctors Area */
  .doctors-area .nav-tabs {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .doctors-area .doctor-items .info::after {
    position: absolute;
    left: 50%;
    top: -15px;
    content: "";
    border-top: transparent;
    border-bottom: 15px solid #ffffff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin-left: -15px;
  }

  /* Features */
  .features-area.half-bg::after {
    height: 40%;
  }

  /* Features Entry */

  .feature-entry-area.cols-3 .item ul {
    display: inline-block;
  }

  .feature-entry-area.cols-3 .item ul li span {
    margin-right: 50px;
  }


  /* Health Tips */
  .health-tips-area .thumb-box {
    margin: 0;
    margin-top: 30px;
  }

  .health-tips-area .heading {
    text-align: center;
  }

  .health-tips-area .thumb-box::after {
    position: absolute;
    top: auto;
    left: 50%;
    content: "";
    border-top: transparent;
    border-bottom: 15px solid #ffffff;
    border-right: 15px solid transparent;
    margin-top: -7px;
    bottom: 0;
    right: auto;
    border-left: 15px solid transparent;
    margin-left: -15px;
  }

  .health-tips-area .info {
    margin-top: 30px;
  }


  /* Testimonials */

  .testimonials-area {
    position: relative;
    z-index: 1;
  }

  .testimonials-area::after {
    position: absolute;
    right: 0;
    top: -200%;
    height: 500%;
    width: 500%;
    background: #1fade4;
    z-index: -1;
    content: "";
  }

  .testimonials-area .heading::before {
    left: 50%;
    top: 0;
    margin-left: -60px;
  }

  .testimonials-area .testimonials-carousel {
    padding-left: 0;
    margin-top: 30px;
  }

  .testimonials-area {
    text-align: center;
  }


  /* Portfolio */

  .gallery-area .gallery-items.colums-2 .pf-item,
  .gallery-area .gallery-items.colums-3 .pf-item,
  .gallery-area .gallery-items.colums-4 .pf-item {
    width: 100%;
  }

  .mix-item-menu {
    border: none;
    padding: 0;
  }

  .mix-item-menu button {
    background: #fafafa;
    padding: 8px 25px;
    border: 1px solid #e7e7e7 !important;
    margin: 0 3px;
    margin-bottom: 10px;
  }

  /* Blog */

  .blog-area .blog-thin-colums .thumb {
    margin-bottom: 30px;
  }

  .blog-area .blog-items .footer-meta ul {
    border-top: none;
    padding-top: 0;
  }

  .blog-area .blog-items .footer-meta ul li:first-child {
    display: none;
  }

  .blog-area .pagi-area .pagination {
    display: block;
  }

  .blog-area .item blockquote {
    padding: 50px 30px;
    padding-bottom: 15px;
    padding-top: 110px;
  }

  .blog-area .pagi-area .pagination li {
    display: inline-block;
    margin-top: 5px;
  }

  .blog-area .blog-content .post-tags, 
  .blog-area .blog-content .share {
    display: block;
    text-align: center;
  }

  .blog-area .blog-content .share .social {
    margin-top: 10px;
  }

  .blog-area.left-sidebar .blog-content {
    float: none;
  }

  .blog-area.left-sidebar .sidebar,
  .blog-area.right-sidebar .sidebar {
    margin-top: 50px;
    overflow: hidden;
  }

  .blog-area.right-sidebar .sidebar {
    padding-left: 15px;
  }

  .blog-area.left-sidebar .sidebar {
    padding-right: 15px;
  }

  .blog-area.single .post-pagi-area {
    text-align: center;
  }

  .blog-area.single .post-pagi-area a {
    margin: 5px;
  }

  .blog-area.single .post-pagi-area a:last-child {
    float: none;
  }

  .comments-list .commen-item.reply {
    margin-left: 0;
    padding-left: 0;
  }

  .comments-list .commen-item .content, 
  .comments-list .commen-item .avatar {
    display: block;
    text-align: center;
  }

  .comments-list .commen-item .content {
    width: 100%;
  }

  .comments-list .commen-item .avatar {
    float: none;
    height: 80px;
    width: 80px;
    margin: auto;
  }

  .comments-list .commen-item .content .title {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .comments-list .commen-item .content .title span {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    margin-top: 15px;
  }

  .comments-list .commen-item {
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 30px;
  }

  .comments-list .commen-item:last-child {
    margin-bottom: 0;
    padding: 0;
    border: none;
  }

  .blog-area .comments-form {
    margin-top: 30px;
  }

  .blog-area .blog-comments .comments-list {
    margin-bottom: 30px;
  }


  /* Subscribe */
  .subscribe-area .subscribe-items {
    padding: 50px 30px;
  }


  /* Contact */
  .contact-us-area .contact-items .address-box {
    min-height: 400px;
  }

  .contact-us-area .contact-items .address-box .address-info {
    bottom: -30px;
    box-shadow: 0 0 10px #e7e7e7;
  }

  .contact-us-area .contact-items > .row {
    margin-left: 0;
    margin-right: 0;
  }

  .contact-us-area .contact-form-box {
    padding: 0;
    margin-top: 60px;
    text-align: center;
  }

  .contact-us-area .contact-items .address-box ul {
    display: block;
    text-align: center;
  }

  .contact-us-area .contact-items .address-box ul li {
    margin: 0;
    margin-top: 30px;
  }

  .contact-us-area .contact-items .address-box ul li:first-child {
    margin-top: 0;
  }

  .google-maps iframe {
    height: 350px;
  }


  /* 404 */

  .error-page-area .error-box h1 {
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 25px;
  }

  .error-page-area .error-box h1 i {
    font-size: 80px;
  }


  /* Footer */

  footer .f-items.default-padding {
    padding-top: 0;
  }

  footer .footer-bottom {
    text-align: center;
  }

  .footer-bottom .text-right {
    text-align: center !important;
    margin-top: 15px;
  }
}





/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {


  .side {
    padding: 50px;
    width: 400px;
  }

  /* Blog */
  .comments-list .commen-item .content, 
  .comments-list .commen-item .avatar {
    display: table-cell;
    text-align: left;
  }

  .comments-list .commen-item .content {
    width: auto;
  }

  .comments-list .commen-item .avatar {
    float: none;
    height: 80px;
    width: 80px;
    margin: inherit;
  }

  .comments-list .commen-item .content .title {
    margin-top: 0;
  }

  .comments-list .commen-item .content {
    padding-left: 25px;
  }

  .comments-list .commen-item .content .title {
    margin-top: 0;
  }

  .blog-area.single .post-pagi-area {
    text-align: inherit;
  }

  .blog-area.single .post-pagi-area a:last-child {
    float: right;
  }
}



/* Custom Width Layout: 600px. */
@media only screen and (max-width: 600px) {

  .about-area ul li {
    width: 100%;
    margin-top: 25px;
  }

  .about-area ul li:first-child {
    margin-top: 15px;
  }
}

/* Custom Width Layout: 400px. */
@media only screen and (max-width: 400px) {

  .department-items .item .info .head-of p strong {
    display: block;
  }

  /* Blog */
  .blog-area .item .info .meta ul {
    display: block;
    text-align: center;
  }

  .blog-area .item .info .meta ul li:first-child {
    margin-bottom: 10px;
    display: none;
  }

  .blog-area.single .info .tags {
    display: block;
    padding: 0;
  }

  .blog-area.single .info .tags::after {
    display: none;
  }

  .blog-area.single .item .info .tags ul.meta {
    margin-top: 7px;
  }
}

@media screen and (max-width: 991px) {

  /* global reset - start */
  .order-last {
    order: 0;
  }
}
